img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

h1 {
	color: #F0F0F0;
	margin: 1.66%;
	font-size: 25px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 3px solid #F1F1F1;
	width: 30%
}